    header {
      display: flex;
      flex-direction: row;
      background-color:rgb(158, 121, 157);
      justify-content: space-between;
      padding: 15px;
      align-items: center;
    }
    

    .mybody{
      background-color: rgb(235, 230, 230);
    }
     #logo {

      max-width: 50px;
      height: 60px;
    }
    
    #menu a{
      font-size: 10px;
      color:rgb(44, 1, 80);
      padding: 10px;
      margin: 20px;
      background-color:rgb(255, 255, 255);
      font-family:Georgia, 'Times New Roman', Times, serif;
    }
    .mybody h2{
      color : rgb(44, 1, 80);
      font-family:Georgia, 'Times New Roman', Times, serif;
    }
    .myfooter{
      background-color:rgb(110, 41, 110);
      text-align: center;
      color:white;
      font-family: Georgia, 'Times New Roman', Times, serif;
    }
  