    .myheader {
      background-color:rgb(158, 121, 157);
      text-align: right;
      padding-right: 15px;
      padding-bottom: 10px;
    }
    .mybody{
      background-color: rgb(235, 230, 230);
    
    }

    #logo {
      max-width: 40px;
      height: 50px;
    }
    .mybody h2{
      color : rgb(44, 1, 80);
      font-family:Georgia, 'Times New Roman', Times, serif;
    }
    .myfooter{
      background-color:rgb(110, 41, 110);
      text-align: center;
      color:white;
      font-family: Georgia, 'Times New Roman', Times, serif;
    }
  